$pad : 30px;

.navbar-brand {
    font-size: 26px;
    color : white;
}

#Left_section{

    background-color: #99ccff;
    padding: $pad;

    h3 {                   // nesting
        font-weight:bold; 
        color: #666666; 
        text-align:left;
    }
}
#Right_section{
    padding: $pad;
} 
.col-md-6{
    padding: 10px;
    text-align: center;
}

.topBand{
    padding: 20px;
}

p {
    font-size: 16px;
    text-align: left;
}
#certificates > h3{
    text-align: left;
}

#Left_section > h3{
    font-weight:bold; 
    color: #666666; 
    text-align:left;
}

#Dual_sheet  h2{
    font-weight: bold;
}

button {
    font-size: 30px;
}

.Contacts {
    padding: 20px;
    background-color: #4d4d4d;
    color: white;
}