{% extends "layout.html" %}
{% block title %} Flack : Your Channels {% endblock %}
{% block style %} 
    <script src="{{url_for('static',filename='channel_list.js')}}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='channel_list_stl.css') }}">
{% endblock %}

{% block body %}
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #0f9d58;">
        <a class="navbar-brand" href="#" style="color: white; font-weight: bolder;">FLACK.</a>
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span> 
        </button>
    
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Menu
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Signed in as {{ dname }}</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item active" href="{{ url_for('logout') }}" method="POST"> <button type="button" style="background-color: white; border-radius: 24px;" class="btn btn-outline-success">Logout</button> <span class="sr-only">(current)</span></a>
                    </div>
                  </li>
            </ul>
        </div>
    </nav>
    <!--rest content-->
    <div class="row">
        <div class="col-md-12"><br></div>        
    </div> 
    <div class="body">
        <div class="row">
            <div class="col-md-4">
                <div id="message">
                    <!--filled by JS-->
                </div>
                <h2>Create a new Channel:</h2>
                <div class="createBocx">
                    <form id="form">
                        <label for="cname">Channel Name:</label>
                        <input id="cname" type="text" name="cname" placeholder="Channel Name">
                        <button type="submit" value="Create" class="btn btn-primary">Create</button>
                    </form>
                </div>
            </div>
            <div class="col-md-8">
                {% for c in Channel %}
                    <div class="cards">
                        <h3>{{ c }}</h3>
                        <p>
                            <a href="{{ url_for('channel', chnl = c) }}">visit Channel</a>
                        </p>
                    </div> <br>
                {% else %}
                    <div class="cards">
                        <h3> Looks like there are no Channels. </h3>
                    </div>      
                    <img src="static/images/nochannels.png"> 
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock%}

<!-- .time, .math, .dbms, .nptel {
    background-color: #99ffcc;
    padding: 20px;
    border: 2px solid;
    border-radius: 30px;
  } -->