{% extends "layout.html" %}
{% block title %} Flack : Your Channels {% endblock %}
{% block style %} 
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <script src="{{url_for('static',filename='channel.js')}}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='channel_stl.css') }}">
{% endblock %}

{%  block body %}
    <nav class="navbar navbar-light" style="background-color: #0f9d58;">
        <a class="navbar-brand" href="#" style="color: white; font-weight: bolder;">FLACK.</a>
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span> 
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Menu
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Signed in as {{ dname }}</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item active" href="{{ url_for('logout') }}" method="POST"> Logout <span class="sr-only">(current)</span></a>
                    </div>
                  </li>
            </ul>
        </div>
    </nav>
<!--rest content-->
    <div class="body">
        <div class="row">
            <div class="col-md-12"><br></div>        
        </div>
        <div class="row">
            <div class="col-md-2 side-panel"><p></p></div>
            <div class="col-md-8">
                {% for c in Channel %}
                    <div class="bocx">
                        {{ c[0] }}<br>
                        <small>{{ c[1] }}&#160</small>
                        <small>{{ c[2] }}</small>
                    </div> <br>
                {% else %}
                    <div class="bocx">
                        <p>No messages</p>
                    </div>
                {% endfor %}
                
                <!-- <div class="push"> -->
                    <ul id="push"></ul>
                <!-- </div> -->
                <nav class="navbar fixed-bottom navbar-light" style="background-color: #ece5dd;">
                    <form id="form" class="form-inline">
                        <!-- <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"> -->
                        <input id="messages" type="text" name="messages" class="form-control mr-sm-2" aria-label="Search">
                        <button type="submit" value="Submit" class="btn btn-primary">Submit</button>
                    </form>
                </nav>        
            </div>
            <div class="col-md-2 side-panel"><p></p></div>
        </div>
    </div>
{% endblock %}