{% extends "layout.html" %}
{% block title %} Flack {% endblock %}
{% block style %} 
    <script src="{{ url_for('static', filename='index.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='index_stl.css') }}">
    
{% endblock %}

{% block body %}
<!--Navigation bar-->

    <nav class="navbar fixed-top navbar-expand-md navbar-light" style="background-color: #0f9d58;">
        <a class="navbar-brand" href="#" style="color: white; font-weight: bolder;">FLACK.</a>
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span> 
        </button>
      
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-item nav-link active" href="{{ url_for('register') }}" method="POST"> <button type="button" style="background-color: white; border-radius: 24px;" class="btn btn-outline-success">Register</button> <span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
    </nav>

<!--rest content-->
        <div class="row">
            <div class="col-md-12"><br></div>        
        </div>        
        <div class="row">
            <div class="col-md-12"><br></div>        
        </div>
        <div class="body">
            <div class="row"><!--form-group-->
                <div class="col-md-8 seperable"> 
                    <h2>Welcome back to</h2>
                    <h1> &#160 FLACK.</h1>
                    <h5>A new way to collaborate and Chat.</h5>
                    <img src="static/images/cover.png" width="100%">
                </div>
                <div class="col-md-4" >
                    <br><br>
                    <div id="message">                        
                        <!--filled by JS-->
                    </div>
                    <div class="loginBocx">  
                        <h2>Login</h2> <br>           
                        <form id="form"> <!--for my own styling-->
                            <fieldset>
                                <label for="email">Email: </label><br>
                                <input id="email" type="email" name="email" autocomplete="off" required=""><br><br><!--placeholder="email"-->   
                            </fieldset>
                            <fieldset>
                                <label for="passwd">Password: </label><br>
                                <input id="passwd" type="password" name="paswd" autocomplete="off" required=""><br><br><!-- placeholder="Password"-->
                            </fieldset>
                            <fieldset>
                                <button type="submit" value="Submit" class="btn btn-primary">Login</button>
                            </fieldset>                            
                        </form>
                    </div>
                </div>
            </div>
        </div> 
        <div class="row footer">
            <div class="col-md-12"><br></div>        
        </div>            

{% endblock %}
