.body {
    margin-top: 30px; 
    padding: 30px;
    // color:#25d366;
}

.body > image {
    float: right;
}
.separable > h1 { 
    display: inline-block;
    color: #0f9d58;
    font-weight: bolder;
}
.separable > h2 { 
    display: inline-block;
}

.separable > h5 { 
    color: #505050;
}

.registerBocx{
    padding: 37px;
    background-color: #dcf8c6;
    border-radius: 30px;
    color: #34a853;
    font-weight: bold;
}

.footer {
    background-color: #55ab55;
}

// #0f9d58
// #54b948
// #55ab55
// #34a853
// #075e54
// #128c7e
// #dcf8c6
// #25d366